@page
@model IndexModel
@{
    ViewData["Title"] = "Mainpage";
}

<div class="text-center">
    <h1 class="display-4">Hey! - this website is under construction 🚧</h1>
    <iframe src="https://giphy.com/embed/l2YSgsunrP27ddQje" width="480" height="351" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/spongebob-l2YSgsunrP27ddQje">via GIPHY</a></p>
</div>
