@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>Nothing right there.</p>
    <img src="https://cdn.7tv.app/emote/60eefec291fa1c80cba06ed2/4x.webp" seamless="true" alt="peepoPooPoo" />
</div>